/* Beginning Section Laetita */
body {
  background-image: url(../../images/food-1406879_1920.jpg);

}




/* Beginning Header*/

/* End Header */

/* Beginning Navbar*/

/* End Navbar*/
/* End section Laetita */

/* Beginning section Manuel */
/* Beginning section 1 carousel*/
/* .japan {
  background-image: url(assets/images/japan.jpg);
} */
/* .carousel-background {
  background-image: url(/assets/images/japan.jpg);
} */
.container-fluid {
  background:#444;
}

.carousel-item .img-fluid {
  display: none;
  position: relative;
  .transition(.6s ease-in-out left);
  width: 100%;
  height: 100%;
}

 #carousel-top {
  margin: 50px auto;
  position: relative;
  display: block;
 }

.image-top {
  border:1px solid #c1c2c4;
  padding: 8px;
  border-radius: 4px;
  background: no-repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* End carousel*/

/* Beginning Introduction*/

@font-face {
font-family: 'secret code';
src: url('secrcode.ttf');
}

.introduction {
  height: auto;
  width: auto;
}

.introduction .container-fluid {
  background: url(http://www.izakayajoyi.fr/assets/background-bottom-0cb739883a15eb73405ca8b81c2131b7e3becf73969a054a335cfb7149f13063.jpg);
  background-repeat: no-repeat;
  padding-top: 30px;
}

.introduction-text {
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto 50px;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #efefef;
  border: 1px white solid;
  border-radius: 5px;
}

.introduction-text.text-justify h2 {
  font-family: Arial;
  font-size: 2rem;
  padding: 5px center;
  text-shadow: 1px 1px 1px white;
}

.introduction-text.text-justify p {
  font-family: Arial;
  font-size: 15px;
  text-shadow: 1px 0px 0px white;
  padding: 5px center;
}
/* End Introduction section 1*/
/* End section Manuel */


/* Beginning Background 1 */

/* End Background 1 */

/* Beginning Section Karl */
/* Beginning section2 carousel formule Karl */
.menu {

}
.menu img{
  max-height: 200px;
  border-bottom:  solid 1px #dfdfdf;
}

.kprev { /*bouton carousel prev */
  height: 30px;
  color: red;
}

.knext { /*bouton carousel next*/
  height: 30px;
  color: red;
}
.knext: { /*bouton carousel next*/
  height: 30px;
  color: red;
}
.carouselBottom {

}

.kformule1 {

}

.kformulemini {

}

/* End section2 carousel formule Karl */
/* End Section Karl */

/* Beginning Background 2 */

/* End Background 2 */

/* Beginning Section Fabien */
/* Beginning section 3 Contact/Formulaire*/

/* End section 3 Contact/Formulaire*/

/* Beginning Background 3*/

/* End Background 3*/

/* Beginning Footer*/

/* End Footer*/
/* End Section Fabien */
